 <%- include('./partials/header.ejs') %>





<div class="dashboard">
  <div class="container">
    <div class="row">

      <div class="side-window hidden-xs col-sm-4 col-md-4 col-lg-4">
        <img id="logo" src="../images/bird.png">
          <div id="user-info">
            <% if (tweets.length > 0) { %>
              <h2><%= tweets[0].name %></h2>
            <% } %>
            <p>@uglyTweets.com</p>
            <hr>
            <h4>Messages</h4>
            <h3> <%= tweets.length %></h3>
          </div>
      </div>

      <div class="container">
        <div class="new-message col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
          <form action="/" method="post" class="">
            <label for="user">Username:</label>
            <input type="text" class="form-control" name="userName">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" name="message" maxlength="144"></textarea>
            <div id="submit-button">
              <button type="submit" class="btn btn-primary pull-right">submit</button>
            </div>
          </form>
        </div>
      </div>

      <br>
      <br>

  <div class="container">
    <div class="row">
      <div class="hidden-xs hidden-sm">
        <h3>Trending Tweets</h3>
      </div>

      <div class="side-window hidden-xs col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="trending-tweets">
            <li><a href="">#thisWebsiteSucks</a></li>
            <li><a href="">#learnHowToCode</a></li>
            <li><a href="">#facebookTips</a></li>
            <li><a href="">#latestGarbage</a></li>
            <li><a href="">#iCantDesignShit</a></li>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <%# <h3> New Tweets </h3>%>
        <% for (let tweet of tweets) { %>
          <div class="post-box">
            <img id="logo" src="../images/bird.png"></img>
            <h4><%= tweet.name %></h4>
            <p><%= tweet.message %></p>
            <br>
          </div>
        <% } %>
      </div>
    </div>
  <div>
</div>

  </body>
</html>
